
body {
    margin: 0;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
}

#hero-section {
    background-image: url("../images/galaxy.gif");
    background-size: 100%;
    padding: 0 15px 50px;
}

#main-logo {
    width: 150px;
}

#head-text {
    text-shadow: 0px 0px 5PX black;
}

.apply-btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    font-weight: 800;  /*bold*/
}

.apply-btn:hover {
    background-color: #82a5ca;
    color: white;
}

.underline {
    border-bottom: 4px solid white;
}

.urls-ref {
    color: black;
}


/* 
Text Shadow
    text-shadow: 5px 3px 0p black;  ===> right-offset , down-offset , sharp , color
    text-shadow: -5px 3px 6px black;  ===> left-offset , down-offset , blur , color
    text-shadow: 5px -3px black;  ===> right-offset , up-offset , sharp , color

    text-shadow: 0px 0px 5px black;  very nice hack, only glowy text
*/